<ul class="sidebar-menu items">

    <li class="header">MENU ESTATICO</li>
    <li><a [routerLink]="['/maestro/inicio']"><i class="fa fa-book"></i> <span>Principal</span></a></li>
    <li><a [routerLink]="['/maestro/auxiliar']"><i class="fa fa-book"></i> <span>Auxiliar</span></a>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-laptop"></i>
            <span>Movilidad</span>
            <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
        </a>
        <ul class="treeview-menu">
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-laptop"></i>
                    <span>Agentes</span>
                    <span class="pull-right-container"><i
                            class="fa fa-angle-left pull-right"></i></span>
                </a>
                <ul class="treeview-menu">
                    <li><a [routerLink]="['/maestro/listaragentes']"><i class="fa fa-book"></i> <span>Listar</span></a>
                    </li>
                    <li><a [routerLink]="['/maestro/crearagente']"><i class="fa fa-book"></i> <span>Crear</span></a>
                    </li>
                </ul>
            </li>
            <li><a [routerLink]="['/maestro/auxiliar']"><i class="fa fa-book"></i>
                <span>Catalogos</span></a></li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-laptop"></i>
                    <span>Cargator</span>
                    <span class="pull-right-container"><i
                            class="fa fa-angle-left pull-right"></i></span>
                </a>
                <ul class="treeview-menu">
                    <li><a [routerLink]="['/maestro/auxiliar']"><i class="fa fa-book"></i>
                        <span>Exportar excel</span></a>
                    </li>
                    <li><a [routerLink]="['/maestro/auxiliar']"><i class="fa fa-book"></i>
                        <span>Importar excel</span></a>
                    </li>
                </ul>
            </li>
            <li><a [routerLink]="['/maestro/auxiliar']"><i class="fa fa-book"></i> <span>Envio de servicios</span></a>
            </li>
            <li><a [routerLink]="['/maestro/auxiliar']"><i class="fa fa-book"></i> <span>Seguimiento de servicios</span></a>
            </li>
        </ul>
    </li>


    <li class="header">Accesos rapidos</li>
    <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
    <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
    <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
</ul>
